.free-board-wrap.dark {
  background: radial-gradient(#231e39, #060815) !important;
  background: -webkit-radial-gradient(#231e39, #060815) !important;
}
.free-board-wrap .free-board-block {
  margin: 30px !important;
}
.layui-laydate {
  background-color: blue;
}
.tree-loading {
  width: 100%;
  height: calc( 100vh - 120px );
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}
.tree-loading::before {
  content: "";
  display: block;
  width: 300px;
  height: 300px;
  position: absolute;
  background-image: url(../../images/baogang/images/loading.svg);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  animation: loading-animation 1s linear infinite;
  -webkit-animation: loading-animation 1s linear infinite;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
}
.fileBtn {
  padding: 0 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #0090ff;
  color: #fff!important;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height: 28px;
  line-height: 28px;
  width: 72px;
  border: none;
  outline: none;
}
.fileBtn:focus {
  border: none;
  outline: none;
}
.fileInp {
  border: 0!important;
  outline: none!important;
}
.ps-file2 {
  list-style: none;
  margin-left: -36px;
}
.btn-100 {
  width: 100px;
  padding: 2px 12px!important;
  font-size: 14px!important;
  line-height: 1.42857143!important;
  border-radius: 0!important;
  border: 1px solid #10a4fb !important;
}
.delSpace {
  margin-top: -6px !important;
}
ul.steel.dropdown-menu {
  border: 1px solid #72b3d7;
}
ul.steel.dropdown-menu li {
  padding: 5px 0;
  text-align: center;
  cursor: pointer;
}
ul.steel.dropdown-menu li:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}
.steel .bold {
  font-weight: bold;
}
.steel .msg-li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.steel .btn-default {
  color: #fff !important;
}
.steel .table-title {
  font-size: 16px;
  padding: 5px 0 10px 0;
  font-weight: bold;
}
.steel .padding-5 {
  padding: 5px !important;
}
.steel .status-tabs {
  padding: 10px !important;
  margin: 5px;
  background-color: #0c466d;
  border: 1px solid #21a6fb;
}
.steel .status-tabs table {
  width: 100%;
  table-layout: fixed;
}
.steel .status-tabs table td.title {
  padding: 0px 0px 0px 20px;
  font-size: 16px;
  text-align: left;
  height: 41px;
  position: relative;
}
.steel .status-tabs table td.icon {
  padding: 0px 10px 0px 0px;
  text-align: right;
}
.steel .status-tabs table td.icon span {
  font-size: 40px;
  color: #dddddd;
  text-align: right;
  padding: 0px 10px 0px 0px;
}
.steel .status-tabs table td.desc {
  padding: 0px 0px 0px 20px;
  font-size: 12px;
  text-align: left;
  position: relative;
}
.steel .content-box-frame {
  display: block;
  padding: 60px 0px 0px 0px;
  height: calc( 100vh - 50px );
  overflow: auto;
  overflow-x: hidden;
}
.steel.content-wrapper {
  overflow: hidden;
}
.steel.modal-dialog {
  min-height: 0;
}
.steel .content-box-dashboard {
  height: calc(100vh - 51px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px;
  width: 100%;
}
.steel .content-box-dashboard:before {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
}
#free-board .row {
  margin: 0;
  padding: 0;
}
#free-board .width-200 {
  width: 200px;
}
#free-board .padding-10 {
  padding: 10px;
}
#free-board .padding-right-10 {
  padding-right: 10px;
}
#free-board .padding-left-right-10 {
  padding-left: 10px;
  padding-right: 10px;
}
#free-board .vertical-top {
  vertical-align: top !important;
}
#free-board .vertical-middle {
  vertical-align: middle !important;
}
#free-board .horizontal {
  display: inline-block;
}
#free-board .tab-content {
  border: 1px solid #25729d;
  background-color: rgba(0, 0, 0, 0);
}
#free-board .steel .repeater .block {
  overflow-y: hidden;
}
#free-board .steel .repeater:after {
  content: "";
  height: 1px;
  width: 100%;
  clear: both;
  display: block;
}
#free-board .steel .block {
  overflow-y: auto;
}
#free-board .steel .ps-layout ._sel {
  color: #fff !important;
  background-color: #3a5066 !important;
}
#free-board .steel .ps-layout .box {
  background-color: rgba(0, 0, 0, 0);
}
#free-board .steel .ps-layout .bk-group {
  background-color: rgba(0, 0, 0, 0.1);
}
#free-board .steel .ps-layout .bk-group .bk-group-title {
  background-color: #126296;
}
#free-board .steel .ps-layout .bk-group:hover .bk-group-title {
  color: #ddd;
  background-color: #2C94CE !important;
}
#free-board .steel .ps-layout .input-group-btn {
  width: auto;
}
#free-board .steel .ps-layout .nav-tabs-custom {
  background-color: rgba(0, 0, 0, 0.2);
}
#free-board .steel .ps-layout .nav-tabs-custom .nav-tabs li.active a {
  border-left-color: transparent;
}
#free-board .steel .ps-layout .nav-tabs-custom .nav-tabs li a {
  margin-right: 0;
  color: #fff;
}
#free-board .steel .ps-layout .form-control {
  height: 26px;
  width: 100%;
  color: #fff;
  background-color: #3a5066;
}
#free-board .bk-group {
  min-height: 100px;
  display: flex;
}
#free-board .bk-group .bk-group-title {
  display: flex;
  width: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#free-board .bk-group .bk-group-title span {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#free-board .bk-group .bk-group-detail {
  flex: 1;
  padding: 16px 20px 0 20px;
  background-color: #051f33;
}
#free-board .bk-group .bk-group-detail .bk-form-row {
  display: flex;
  margin-bottom: 20px;
}
#free-board .bk-group .bk-group-detail .bk-form-row .bk-form-row-name {
  width: 90px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #999;
  margin-bottom: 0;
}
#free-board .bk-group .bk-group-detail .bk-form-row .bk-form-row-cell {
  flex: 1;
}
.ps-searchbar .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 20px;
}
.ps-searchbar .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 32px;
}
.ps-searchbar .select2-container--default .select2-selection--single .select2-selection__placeholder {
  line-height: 26px;
}
.ps-layout.bk-scope * {
  box-sizing: border-box !important;
}
.ps-layout.bk-scope .ps-searchbar .col-sm-2 {
  padding: 0 15px 15px 0;
}
.ps-layout.bk-scope .form-control {
  padding: 0 8px;
}
.ps-layout.bk-scope .select2-selection {
  position: relative;
  height: auto;
  padding: 0;
}
.ps-layout.bk-scope .select2-selection .select2-selection__rendered {
  margin: 0;
  padding-left: 6px;
}
.ps-layout.bk-scope .select2-selection .select2-selection__placeholder {
  padding-top: 0;
  line-height: 26px;
  color: #999;
}
.ps-layout.bk-scope .select2-selection .select2-selection__arrow {
  height: 20px;
}
.ps-layout * {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ps-layout .angular-dataTable {
  /**
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    **/
}
.ps-layout .angular-dataTable tr.red {
  background-color: rgba(255, 0, 0, 0.5);
}
.ps-layout .angular-dataTable tr.red:hover {
  background-color: rgba(255, 0, 0, 0.5);
}
.ps-layout .angular-dataTable td {
  max-width: 150px;
  padding: 8px;
}
.ps-layout .angular-dataTable th {
  max-width: 150px;
  padding: 8px;
}
.ps-layout .bk-group {
  table-layout: fixed;
}
.ps-layout .select2-results__option {
  overflow: hidden;
  text-overflow: ellipsis;
}
.ps-tooltip {
  transition: .5s linear opacity;
  -webkit-transition: .5s linear opacity;
  opacity: 0;
  padding: 5px 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
}
.ps-tooltip.open {
  opacity: 1;
}
.ps-dialog #free-board .dialog-control-label {
  color: #fff;
}
.ps-dialog #free-board .modal-dialog .modal-content {
  background-color: #3a5066;
}
.ps-dialog #free-board .modal-dialog .modal-footer {
  border: 0;
}
.ps-dialog #free-board .modal-dialog.steel {
  min-height: 100px;
  color: #72b3d7;
}
.ps-dialog #free-board .modal-dialog.steel section {
  min-height: 100px;
}
.ps-dialog button.btn.btn-primary span {
  color: #fff;
}
.ps-dialog .modal-dialog .select2-selection {
  position: relative;
  height: auto;
  padding: 0;
}
.ps-dialog .modal-dialog .select2-selection .select2-selection__rendered {
  margin: 0;
  padding: 0 7px;
}
.ps-dialog .modal-dialog div.dataTables_wrapper div.dataTables_length label {
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
}
.ps-dialog .modal-dialog .dataTables table th {
  position: relative !important;
}
@keyframes loading-animation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
