@font-face {
    font-family: 'proudsmart';
    src:  url('../../fonts/proudsmart.eot');
    src:  url('../../fonts/proudsmart.eot') format('embedded-opentype'),
    url('../../fonts/proudsmart.ttf') format('truetype'),
    url('../../fonts/proudsmart.woff') format('woff'),
    url('../../fonts/proudsmart.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*[class^="ps-"],
[class*=" ps-"] {*/
.proudsmart {
    display: inline-block;
    font: normal normal normal 14px/1 proudsmart;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ps-bw_dianjian:before {
    content: "\e900";
}
.ps-bw_shijian:before {
    content: "\e901";
}
.ps-bw_guzhang:before {
    content: "\e902";
}
.ps-transfer:before {
    content: "\e903";
}
.ps-userinfo:before {
    content: "\e904";
}
.ps-server:before {
    content: "\e905";
}
.ps-help:before {
    content: "\e906";
}
.ps-center:before {
    content: "\e907";
}
.ps-bw_09:before {
    content: "\e908";
}
.ps-zoom_s:before {
    content: "\e909";
}
.ps-zoom_b:before {
    content: "\e90a";
}
.ps-bw_memo:before {
    content: "\e90b";
}
.ps-bw_repair:before {
    content: "\e90c";
}
.ps-bw_alarm:before {
    content: "\e90d";
}
.ps-bw_jianxiulvli:before {
    content: "\e90e";
}
.ps-bw_dashujufenxi:before {
    content: "\e90f";
}
.ps-bw_tezhengqushi:before {
    content: "\e910";
}
.ps-bw_dianjianyichang:before {
    content: "\e911";
}
.ps-bw_zonghequshi:before {
    content: "\e912";
}
.ps-bw_zhendongfenxi:before {
    content: "\e913";
}
.ps-bw_zhenduanlvli:before {
    content: "\e914";
}
.ps-bw_xinxi:before {
    content: "\e915";
}
.ps-bw_shoumingyuce:before {
    content: "\e916";
}
.ps-bw_shipinzhenduan:before {
    content: "\e917";
}
.ps-bw_shiyufenxi:before {
    content: "\e918";
}
.ps-bw_pinyufenxi:before {
    content: "\e919";
}
.ps-bw_moxingfenxi:before {
    content: "\e91a";
}
.ps-bw_guzhanglvli:before {
    content: "\e91b";
}
.ps-bw_dianqifenxi:before {
    content: "\e91c";
}
.ps-bw_baojingjilu:before {
    content: "\e91d";
}
.ps-bw_baogaobianzhi:before {
    content: "\e91e";
}
.ps-bw_xietongzhenduan:before {
    content: "\e91f";
}
.ps-bw_tezhengzhibiaogenzong:before {
    content: "\e920";
}
.ps-bw_lixianzhenduanbaogao:before {
    content: "\e921";
}
.ps-bw_duozhuanyezhenduan:before {
    content: "\e922";
}
.ps-bw_07:before {
    content: "\e923";
}
.ps-bw_08:before {
    content: "\e924";
}
.ps-bw_06:before {
    content: "\e925";
}
.ps-bw_05:before {
    content: "\e926";
}
.ps-bw_04:before {
    content: "\e927";
}
.ps-bw_03:before {
    content: "\e928";
}
.ps-bw_02:before {
    content: "\e929";
}
.ps-bw_01:before {
    content: "\e92a";
}
.ps-pressure:before {
    content: "\e92b";
}
.ps-lightning:before {
    content: "\e92c";
}
.ps-frequency:before {
    content: "\e92d";
}
.ps-flow:before {
    content: "\e92e";
}
.ps-fan_playing:before {
    content: "\e92f";
}
.ps-agricultural-equipment:before {
    content: "\e930";
}
.ps-industrial-Internet:before {
    content: "\e931";
}
.ps-vehicle:before {
    content: "\e932";
}
.ps-optical-film:before {
    content: "\e933";
}
.ps-cnc-machine-tools:before {
    content: "\e934";
}
.ps-power-equipment:before {
    content: "\e935";
}
.ps-new-energy-vehicle:before {
    content: "\e936";
}
.ps-essential-information:before {
    content: "\e937";
}
.ps-innovate:before {
    content: "\e938";
}
.ps-risk:before {
    content: "\e939";
}
.ps-equipment-number:before {
    content: "\e93a";
}
.ps-item-number:before {
    content: "\e93b";
}
.ps-customer-number:before {
    content: "\e93c";
}
.ps-nav_icon_12:before {
    content: "\e93d";
    color: #b8c7cf;
}
.ps-nav_icon_13:before {
    content: "\e93e";
    color: #b8c7cf;
}
.ps-nav_icon_11:before {
    content: "\e93f";
    color: #b8c7cf;
}
.ps-on:before {
    content: "\e940";
}
.ps-off:before {
    content: "\e941";
}
.ps-tuntuliang-01:before {
    content: "\e942";
}
.ps-reset:before {
    content: "\e943";
}
.ps-nav_icon_05:before {
    content: "\e944";
    color: #b8c7cf;
}
.ps-nav_icon_01:before {
    content: "\e945";
    color: #b8c7cf;
}
.ps-nav_icon_04:before {
    content: "\e946";
    color: #b8c7cf;
}
.ps-nav_icon_06:before {
    content: "\e947";
    color: #b8c7cf;
}
.ps-nav_icon_07:before {
    content: "\e948";
    color: #b8c7cf;
}
.ps-nav_icon_08:before {
    content: "\e949";
    color: #b8c7cf;
}
.ps-nav_icon_09:before {
    content: "\e94a";
    color: #b6c4cd;
}
.ps-nav_icon_10:before {
    content: "\e94b";
    color: #b8c7cf;
}
.ps-nav_icon_02:before {
    content: "\e94c";
    color: #b8c7cf;
}
.ps-nav_icon_03:before {
    content: "\e94d";
    color: #b8c7cf;
}
.ps-align-left:before {
    content: "\e94e";
}
.ps-arrow-down:before {
    content: "\e94f";
}
.ps-arrow-up:before {
    content: "\e950";
}
.ps-website:before {
    content: "\e951";
}
.ps-copyright:before {
    content: "\e952";
}
.ps-trademark:before {
    content: "\e953";
}
.ps-certificate:before {
    content: "\e954";
}
.ps-software-copyright:before {
    content: "\e955";
}
.ps-patent:before {
    content: "\e956";
}
.ps-address:before {
    content: "\e957";
}
.ps-domain:before {
    content: "\e958";
}
.ps-download:before {
    content: "\e959";
}
.ps-pai_logo:before {
    content: "\e95a";
}
.ps-negative:before {
    content: "\e95b";
}
.ps-neutral:before {
    content: "\e95c";
}
.ps-positive:before {
    content: "\e95d";
}
.ps-copy:before {
    content: "\e95e";
}
.ps-excel:before {
    content: "\e95f";
}
.ps-app:before {
    content: "\e960";
}
.ps-align-center:before {
    content: "\e961";
}
.ps-align-bottom:before {
    content: "\e962";
}
.ps-align-top:before {
    content: "\e963";
}
.ps-align-middle:before {
    content: "\e964";
}
.ps-horizontal-distribution:before {
    content: "\e965";
}
.ps-vertical-distribution:before {
    content: "\e966";
}
.ps-align-right:before {
    content: "\e967";
}
.ps-court-announcement:before {
    content: "\e968";
}
.ps-court-ruling:before {
    content: "\e969";
}
.ps-business-change:before {
    content: "\e96a";
}
.ps-back-01:before {
    content: "\e96b";
    color: #3b8dbc;
}
.ps-water-yes:before {
    content: "\e96c";
}
.ps-water-no:before {
    content: "\e96d";
}
.ps-smoke-no:before {
    content: "\e96e";
}
.ps-smoke-yes:before {
    content: "\e96f";
}
.ps-beixunpanjilu:before {
    content: "\e970";
}
.ps-xunpanxiaoxi:before {
    content: "\e971";
}
.ps-wodexunpanjilu:before {
    content: "\e972";
}
.ps-xitongxiaoxi:before {
    content: "\e973";
}
.ps-qiyerongyu:before {
    content: "\e974";
}
.ps-tianjiaanli:before {
    content: "\e975";
}
.ps-tianjiachanpin:before {
    content: "\e976";
}
.ps-tianjiafangan:before {
    content: "\e977";
}
.ps-wodeqiye:before {
    content: "\e978";
}
.ps-qiyexinxi:before {
    content: "\e979";
}
.ps-door-open:before {
    content: "\e97a";
}
.ps-door-close:before {
    content: "\e97b";
}
.ps-safety:before {
    content: "\e97c";
}
.ps-kehuguanxi:before {
    content: "\e97d";
}
.ps-weibaofuwu:before {
    content: "\e97e";
}
.ps-guzhangfenxi:before {
    content: "\e97f";
}
.ps-login:before {
    content: "\e980";
}
.ps-fail:before {
    content: "\e981";
}
.ps-success:before {
    content: "\e982";
}
.ps-layer-down:before {
    content: "\e983";
}
.ps-layer-up:before {
    content: "\e984";
}
.ps-linked-data:before {
    content: "\e985";
}
.ps-management:before {
    content: "\e986";
}
.ps-collection-point:before {
    content: "\e987";
}
.ps-pay:before {
    content: "\e988";
}
.ps-message:before {
    content: "\e989";
}
.ps-customer:before {
    content: "\e98a";
}
.ps-expense-center:before {
    content: "\e98b";
}
.ps-renewal:before {
    content: "\e98c";
}
.ps-wodefangan:before {
    content: "\e98d";
}
.ps-peizhiguanli:before {
    content: "\e98e";
}
.ps-kehufuwu:before {
    content: "\e98f";
}
.ps-tongjifenxi:before {
    content: "\e990";
}
.ps-gongdanguanli:before {
    content: "\e991";
}
.ps-shebeigaojing:before {
    content: "\e992";
}
.ps-shebeijiance:before {
    content: "\e993";
}
.ps-shebeiguanli:before {
    content: "\e994";
}
.ps-shebeimuban:before {
    content: "\e995";
}
.ps-yunyingshouye:before {
    content: "\e996";
}
.ps-market:before {
    content: "\e997";
}
.ps-publish:before {
    content: "\e998";
}
.ps-top:before {
    content: "\e999";
}
.ps-information:before {
    content: "\e99a";
}
.ps-upload-02:before {
    content: "\e99b";
}
.ps-exit:before {
    content: "\e99c";
}
.ps-system:before {
    content: "\e99d";
}
.ps-recommend:before {
    content: "\e99e";
}
.ps-review:before {
    content: "\e99f";
}
.ps-team:before {
    content: "\e9a0";
}
.ps-exclamation:before {
    content: "\e9a1";
}
.ps-upload:before {
    content: "\e9a2";
}
.ps-link:before {
    content: "\e9a3";
}
.ps-unlink:before {
    content: "\e9a4";
}
.ps-delete-02:before {
    content: "\e9a5";
}
.ps-add:before {
    content: "\e9a6";
}
.ps-move:before {
    content: "\e9a7";
}
.ps-save:before {
    content: "\e9a8";
}
.ps-delete:before {
    content: "\e9a9";
}
.ps-dust:before {
    content: "\e9aa";
}
.ps-battery:before {
    content: "\e9ab";
}
.ps-gis:before {
    content: "\e9ac";
}
.ps-fax:before {
    content: "\e9ad";
}
.ps-sequence:before {
    content: "\e9ae";
}
.ps-pdf:before {
    content: "\e9af";
}
.ps-phone:before {
    content: "\e9b0";
}
.ps-weibo:before {
    content: "\e9b1";
}
.ps-weixin:before {
    content: "\e9b2";
}
.ps-email:before {
    content: "\e9b3";
}
.ps-qq:before {
    content: "\e9b4";
}
.ps-qqspace:before {
    content: "\e9b5";
}
.ps-web:before {
    content: "\e9b6";
}
.ps-video:before {
    content: "\e9b7";
}
.ps-focus:before {
    content: "\e9b8";
}
.ps-time:before {
    content: "\e9b9";
}
.ps-search:before {
    content: "\e9ba";
}
.ps-more:before {
    content: "\e9bb";
}
.ps-edit:before {
    content: "\e9bc";
}
.ps-back:before {
    content: "\e9bd";
}
.ps-mushroom:before {
    content: "\e9be";
    color: #25bce7;
}
.ps-planting:before {
    content: "\e9bf";
    color: #25bce7;
}
.ps-current-production:before {
    content: "\e9c0";
    color: #25bce7;
}
.ps-estimated-output:before {
    content: "\e9c1";
    color: #25bce7;
}
.ps-daily-output:before {
    content: "\e9c2";
}
.ps-duration:before {
    content: "\e9c3";
}
.ps-sandglass:before {
    content: "\e9c4";
}
.ps-task:before {
    content: "\e9c5";
}
.ps-current-production_p:before {
    content: "\e9c6";
}
.ps-pattern:before {
    content: "\e9c7";
}
.ps-number:before {
    content: "\e9c8";
}
.ps-sunshine:before {
    content: "\e9c9";
}
.ps-air-humidity:before {
    content: "\e9ca";
}
.ps-air-temperature:before {
    content: "\e9cb";
}
.ps-camera:before {
    content: "\e9cc";
}
.ps-video-camera:before {
    content: "\e9cd";
}
.ps-water:before {
    content: "\e9ce";
}
.ps-fan:before {
    content: "\e9cf";
}
.ps-electric-motor02:before {
    content: "\e9d0";
}
.ps-electric-motor:before {
    content: "\e9d1";
}
.ps-co2:before {
    content: "\e9d2";
}
.ps-soil-temperature:before {
    content: "\e9d3";
}
.ps-soil-humidity:before {
    content: "\e9d4";
}
.ps-irrigation:before {
    content: "\e9d5";
}
.ps-spraying:before {
    content: "\e9d6";
}
.ps-chart-brokenline:before {
    content: "\e9d7";
}
.ps-user:before {
    content: "\e9d8";
}
.ps-group:before {
    content: "\e9d9";
}