<config injector="$q, $timeout"
></config>
<script type="text/javascript">
export default function (q, timeout) {
  function error(e){
    let defer = q.defer();
    defer.reject(e);
    return defer.promise;
  }
  class Store{
    constructor(){
      this.stores = {}
    }
    add( name ){
      this.stores[ name ] = q.defer();
    }
    commit( name, d ){
      if( !this.stores[ name ] ){
        return error( `store [${name}] is not added, please use store.add(name) to add new store` )
        //throw new Error(`store [${name}] is not added, please use store.add(name) to add new store`);
      }
      this.stores[ name ].resolve( d );
    }
    get( name ){
      if( !this.stores[ name ] ){
        return error( `store [${name}] is not added, please use store.add(name) to add new store` )
        //throw new Error();
      }
      return this.stores[ name ].promise;
    }
  }
  return new Store
}
</script>